.flexDiv {
    display: flex;
    align-items: start;
    gap: 1rem;
    position: relative;
}

.parMar {
    margin: 0;
}

#listCol {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#listCol div {
    background-color: #26292E;
    aspect-ratio: 1/1;
    width: 1.2rem;
    height: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .8rem;
    border-radius: .1rem;
}

#listCol div::before {
    content: "";
    position: absolute;
    left: 1.8%;
    top: 5%;
    height: 91%;
    width: 2px;
    background-color: #26292E;
}

.boldTitle {
    font-weight: bold;
}
